/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}


@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

img {
  display: block;
  width: 100%;
}

#img1 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
/* nav */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #2e2d4c;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
  border-bottom: 4px solid var(--main-red);
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: var(--main-blue);
}

/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130vh;
  background-color: white;
  margin-top: 40px;
}

h1 {
    color: #2e2d4c;
}

h5 {
  margin-left: 60px;
  margin-right: 60px;
  color: #2e2d4c;
}

h3 {
  color: var(--main-red);
}
.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-red);
}

/* Projects section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: #2e2d4c;
}

.services {
  padding: 5rem 2rem;
  background-color: var(--main-red);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--main-red);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

/* Contact section */

.contact-section {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

#contact {
  margin-top: 90px;
}

#services {
  margin-top: 60px;
}

#map {
  width: 50%;
  float: left;
}

#form {
  width: 50%;
  float: right;
}

textarea, input{
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100%;
  width: 80%;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}

textarea:focus, input:focus{
  border-color: #2e2d4c;
}

textarea::placeholder, input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}

textarea:focus::placeholder, input:focus::placeholder{
  color: #b3b3b3;
}

textarea {
  height: 150px;
}

.form-btn{
  height: 50px;
  width: 30%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  background-color: #2e2d4c;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.form-btn:hover {
  background-color: var(--main-red);
}

button:focus {
  background-color: var(--main-gray);
}

.contact-text {
  color: #2e2d4c;
}


/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: #2e2d4c;
  border-top: 4px solid var(--main-red);
  margin-top: 500px;
}

.footer {
  margin-top: 0px;
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media handheld, only screen and (max-width: 500px), only screen and (max-device-width: 500px) {
  #map, #form {
      width: auto;
      float: none;
  }
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}